<div class="news" id="tin360">
    <div class="content_inner">
        <h3 class="news_heading padding-20">
            <a href="#" class="visted--none">
                <i class="fa-solid fa-atom icon_heading"></i>tin nhanh 360°
            </a>
        </h3>
        <div class="grid-container-2">
            <article  class="grid-item tin360-l">
                <div class="grid-container-1">
                    <div class="grid-item">
                        <article class="story story--primary">
                            <a href="#" class="story__thumb--img">
                                <img src="./assests/img/story-1.jpg" alt="anh story" class="story__thumb_img">
                            </a>
                            <div class="story__thumb--text">
                                <h1 class="story__thumb-text"><a href="#">Nguyễn Hồng Nhung nóng bỏng trong ngày lên chức phó chủ tịch hội đồng quản trị</a></h1>
                                <div class="story__thumb_info">
                                    <div class="story__thumb_time">09:18 16/02/2022</div>
                                    <div class="story_thumb_dash"> - </div>
                                    <div class="story__thumb_cmt">
                                        <span class="far fa-comment-dots"></span>
                                        <span>0</span>
                                    </div>
                                </div>
                            </div>
                            <span class="icon__play"><i class="fas fa-play-circle"></i></span>
                        </article>
                    </div>
                </div>
            </article>
            <article  class="grid-item tin360-r">
                <article class="story story-3-rowLeft">
                    <a href="#" class="story__thumb--img">
                        <img src="./assests/img/strory-2.jpeg" alt="anh story" class="story__thumb_img">
                    </a>
                    <div class="story__thumb--text">
                        <h1 class="story__thumb-text"><a href="#">Tuyển U.23 Việt Nam có thể xách vali về nước khi chưa đá trận nào</a></h1>
                        <div class="story__thumb_info">
                            <div class="story__thumb_time">8 giờ trước</div>
                            <div class="story_thumb_dash"> - </div>
                            <div class="story__thumb_cmt">
                                <span class="far fa-comment-dots"></span>
                                <span>0</span>
                            </div>
                            <a href="#" class="story__thumb_hastag">
                                #U.23 Việt Nam
                            </a>
                        </div>
                    </div>
                    <ul class="story__related">
                        <li>
                            <i class="fa-solid fa-angle-right icon-list"></i>
                            <a href="#">10 thói quen của những người khỏe mạnh, bạn được thói quen nào?</a>
                        </li>
                    </ul>
                </article>
                <article class="story story-2-rowLeft">
                    <a href="#" class="story__thumb--img">
                        <img src="./assests/img/story-3.jpg" alt="anh story" class="story__thumb_img">
                    </a>
                    <div class="story__thumb--text">
                        <h1 class="story__thumb-text"><a href="#"> Trên 60 tuổi? Đây là cách để sống thọ hơn hàng chục tuổi</a></h1>
                        <div class="story__thumb_info">
                            <div class="story__thumb_time">8 giờ trước</div>
                            <div class="story_thumb_dash"> - </div>
                            <div class="story__thumb_cmt">
                                <span class="far fa-comment-dots"></span>
                                <span>0</span>
                            </div>
                            <a href="#" class="story__thumb_hastag">
                                #U.23 Việt Nam
                            </a>
                        </div>
                    </div>
                    <ul class="story__related">
                        <li>
                            <i class="fa-solid fa-angle-right icon-list"></i>
                            <a href="#">10 thói quen của những người khỏe mạnh, bạn được thói quen nào?</a>
                        </li>
                    </ul>
                </article>
            </article>
        </div>
    </div>
</div>